
.navigation {
	background-color: #006666;
	height: 17vh;
	overflow: hidden; 


	.title {
		color: #14141f;
		font-size: 2em;
		font-weight: bold; 
		margin-left: 2em;   
	}

	.nav-line { 
			background: #14141f;
		.nav-item {
			padding-right:0.5em;
			padding-left:0.5em; 
			width: 20%; 
			border: 1px;  
			text-align: center; 
			border-style: solid; 

			&:hover{
			background: #006666;
			}

			.nav-link{
				color: white;
				font-size: 1.1em;
				vertical-align: text-bottom;
				line-height: 80%; 


			}
			
		}
	}

	.hello {
		font-size: 1.5em; 
		
	}
}

.logo {
	img{
	width: 90%; 
}
}