
@import '../../sass/_variables';

*{
	color: white; 
}
.movie-template {
	margin-top: 2em; 
	.movie-item {
		width: 80%;
		cursor: pointer;
		outline: none; 

		&:hover{
			opacity: 0.85;  
		}

		p {
			font-size: 1em;
			font-weight: lighter;
			margin-top: 1em;  
			height: 2em; 

		}

		.movie-poster{
			border-radius: 5px; 
		}
	}
}
.search-row {
	margin-bottom: 2em; 
}

.movie-details{
	height: 100%; 
	span {
		padding: 1em;  
	}

	.favImg{
		width:10%;
		height:10%;
		cursor: pointer; 
	}
}

.pagination-template{
	margin: 1em; 
}

h5{
	color: $nav-color; 
	display: inline;
	font-weight: bold; 
}