

.favImg {
	width:8%;
	height:8%;
	cursor: pointer; 
}

.movie-desc {
	color: white; 

	h2{
		display: inline-block; 
	}

	.movie-genres{
		color: yellow;
		margin: 0.5em 0; 
	}


}

hr {
	border-color: #006666;
}

.movie-recom{
	color: white; 

	.rec-movie {
		margin:0 auto; 
	}

	.movie-item-recom{
		cursor: pointer; 
		outline: none; 
		margin: 0 auto; 
		img {
			width: 60%;
			margin: 0 auto;  
		}
		h6 {
			margin: 1em auto; 
		}
	}
	
}

.voting {
	color: yellow; 
}